{
  "extends": "@antfu",
  "rules": {
    "no-console": "off",
    "antfu/if-newline": "off",
    "brace-style": "off",
    "@typescript-eslint/brace-style": [
      "error",
      "1tbs",
      {"allowSingleLine": true}
    ],
    "space-before-function-paren": "off",
    "@typescript-eslint/space-before-function-paren": [
      "error", 
      {"anonymous": "always", "named": "never", "asyncArrow": "always"}
    ],
    "vue/singleline-html-element-content-newline": "off"
  }
}
